<nav class="navbar navbar-expand-lg navbar-dark">
  <a routerLink="/" class="navbar-brand">Health Check App</a>
  <button class="navbar-toggler" type="button" data-target="#navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/logs" class="nav-link">Logs</a>
      </li>
    </ul>
  </div>
</nav>
