<app-navbar></app-navbar>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Status Code</th>
      <th scope="col">Url</th>
      <th scope="col">Is Equal length</th>
      <th scope="col">Is Equal Json</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of logData">
      <td>{{data.statusCode}}</td>
      <td>{{(data.link_url | slice:0:100) + (data.link_url.length > 100 ? '...' : '')}}</td>
      <td>{{data.isEqualLength}}</td>
      <td>{{data.isEqualJson}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <!--<button (click)="checkLogs()" class="btn btn-warning">Check Logs</button>-->
  </div>
</div>
